#congratulations {
  position: relative;
  top: 50%;
  margin: auto;
  font-size: 2.5em;
  color: white;
    text-shadow: white 0px 0px 20px;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 40px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 200px #0ff;
}